*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    width: 100vw;
    overflow-x: hidden;
}

header{
    background-color: #fff;
    max-height: 10vh;
}

.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1240px;
    margin: 0 auto;
    padding: 10px 0;
}

.logo{
    display: flex;
    align-items: center;
    gap: 15px;
}

.logo img{
    max-width: 30px;
}

.logo p{
    font-family: 'Bebas Neue', sans-serif;
    font-size: 32px;
}

nav ul{
    display: flex;
    list-style: none;
    gap: 30px;
}

nav ul li a{
    text-transform: uppercase;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 22px;
    text-decoration: none;
    color: black;
    cursor: pointer;
    border-bottom: 4px solid rgba(0, 0, 0, 0);
    transition: .3s;
}

nav ul li a:hover{
    border-bottom: 4px solid #17408b;
}

.hero{
    width: 100vw;
    background: url(./img/lebron.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 0;
}

.hero:after{
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 0;
    left: 0;
}

.hero .container{
    display: flex;
    gap: 35px;
    z-index: 1;
}

.hero .container img{
    width: 100px;
}

.hero p{
    font-family: 'Bebas Neue', sans-serif;
    font-size: 144px;
    color: #fff;
}

.hero a{
    position: absolute;
    bottom: 30px;
    z-index: 1;
}

.hero a img{
    width: 30px;
    cursor: pointer;
    transition: .3s;
}

.hero a img:hover{
    scale: 1.2;
}

/*============ABOUT-SECTION================*/

.about{
    width: 100%;
    min-height: 70vh;
    display: flex;
    align-items: center;
    gap: 80px;
    padding: 0;
}

.about-description{
    background-color: #c9082a;
    padding: 20px 5px 20px 20px;
    color: #fff;    
}

.about-description h2{
    font-family: 'Bebas Neue', sans-serif;
    font-size: 2.5em;
    margin-bottom: 10px;
}

.about-description p{
    font-weight: 500;
    font-size: 18px;
    line-height: 1.7;
    padding: 15px;
}

.about-picture img{
    width: 40vw;
    box-shadow: 10px 10px 0 #c9082a;
}

/*=================FAVORITE-TEAM SECTION=====================*/
.favorite-team{
    width: 100%;
    background: url(./img/background-favorite-min.jpg) no-repeat;
    background-size: cover;
    padding: 50px 0;
    position: relative;
}

.favorite-team:before{
    content: '';
    background-color: rgba(23, 64, 139, .9);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
}


.favorite-team h2{
    text-align: center;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 36px;
    margin-bottom: 25px;
    color: #fff;
    z-index: 5;
    position: relative;
    letter-spacing: 1px;
}

.teams-logos{
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    gap: 5px;
    margin: 0 auto;
    z-index: 3;
}

.teams-logos .team{
    max-width: 70px;
    cursor: pointer;
    border: 2px solid transparent;
    border-radius: 8px;
    background-color: transparent;
    box-shadow: 2px 2px 0px transparent;
    transition: all .3s;
}

.teams-logos .team:hover{
    scale: 1.1;
    border-color: #17408b;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 2px 2px 0px white;
}

/*====================SHOP SECTION====================*/

.shop h2{
    padding: 50px 0;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 48px;
    letter-spacing: 1.5px;
    text-decoration: underline #c9082a 10px;
}

.products-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 35px;
    row-gap: 50px;
}

.product{
    text-align: center;
}

.product img{
    max-width: 100%;
    margin: 0 auto;
    border: 2px solid transparent;
    border-radius: 10px;
    transition: all .3s;
    cursor: pointer;
}

.product img:hover{
    border-color: black;
    scale: 1.1;
}

.product h3{
    font-size: 24px;
    font-style: italic;
    padding: 20px 0 10px 0;
    text-transform: uppercase;
}

.product p{
    font-size: 14px;
}

.product button{
    background-color: #c9082a;
    color: #fff;
    display: block;
    margin: 20px auto;
    border: none;
    padding: 15px 20px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    transition: all .3s;
}

.product button:hover{
    scale: 1.1;
}

.shop .more-button{
    display: flex;
    justify-content: center;
    margin: 50px 0 70px 0;
}

.divider{
    border-bottom: 1px solid #ccc;
    height: 0;
}

.shop a{
    color: #fff;
    background-color: #c9082a;
    padding: 20px 40px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0);
    transition: .3s;
}

.shop a:hover{
    scale: 1.1;
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, .1);
}

/*===============SOCIAL MEDIA===================*/

.social-media{
    background: url(./img/ja-morant-min.jpg) no-repeat;
    background-size: cover;
    padding: 60px 0;
    position: relative;
}

.social-media:before{
    content: '';
    position: absolute;
    background-color: rgba(255, 255, 255, 0.9);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;

}

.social-media h2{
    font-family: 'Bebas Neue', sans-serif;
    text-align: center;
    margin: 70px;
    font-size: 48px;
    z-index: 2;
    position: relative;
}

.social-media .right-side{
    order: 1;
}

.social-media .left-side{
    order: 2;
}

.social-media .container{
    justify-content: center;
    gap: 100px;
    z-index: 2;
    position: relative;
}

.social-media .container div{
    width: 100%;
}

.social-media button{
    padding: 20px 20%;
    text-transform: uppercase;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 26px;
    cursor: pointer;
    margin: 30px 0 30px auto;
    border: none;    
    display: flex;
}

.right-side a{
    text-decoration: none;
}

.instagram{
    background: rgba(225, 48, 108, 1);
    color: #fff;
    transition: all .4s;
}

.instagram:hover{
    background: linear-gradient(to top, transparent, rgba(225, 48, 108, 1));
}

.facebook{
    background: rgba(66, 103, 178, 1);
    color: #fff;
    transition: all .4s;
}

.facebook:hover{
    background: linear-gradient(to top, transparent, rgba(66, 103, 178, 1));
}

.youtube{
    background: #c4302b;
    color: #fff;
    transition: all .4s;
}

.youtube:hover{
    background: linear-gradient(to top, transparent, #c4302b);
}

.spotify{
    background: #1ed760;
    color: #fff;
    transition: all .4s;
}

.spotify:hover{
    background: linear-gradient(to top, transparent, #1ed760);
}

/*=========================FOOTER===========================*/

footer{
    background-color: #17408b;
    color: white;
    padding: 20px 0;
}

footer a{
    color: #fff;
    text-decoration: none;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 22px;
}


@media (max-width: 1280px){
    #menu{
        padding: 0 20px;
    }
    
    .teams-logos{
        grid-template-columns: repeat(10, 1fr);
    }

    .social-media{
        background-position: right center;
    }

    .social-media .container div{
        width: 80%;
    }

    footer{
        padding: 20px;
    }
}

@media (max-width: 1023px){
    header{
        height: 13vh;
    }

    .hero{
        height: 87vh;
    }
    
    header .container{
        flex-direction: column;
        gap: 5px;
    }

    .logo{
        gap: 5px;
    }

    .logo img{
        max-width: 15px;
    }

    nav ul li a {
        font-size: 18px;
    }

    .hero p{
        font-size: 88px;
    }

    .hero .container img{
        width: 80px;
    }
    
    .about{
        display: flex;
        flex-direction: column;
        padding: 30px 0;
    }

    .about img{
        width: 65vw;
    }
    .about-description{
        padding: 30px 20%;
    }

    .about-description h2{
        font-size: 1.5em;
    }

    .about-description p{
        font-size: 12px;
        padding: 0;
    }

    .teams-logos{
        grid-template-columns: repeat(6, 1fr);
    }

    .shop h2{
        justify-content: center;
    }

    .products-grid{
        grid-template-columns: repeat(2, 1fr);
    }

    .product p{
        font-size: 10px;
    }

    .social-media .container{
        flex-direction: column;
        gap: 15px;
    }

    .social-media button{
        margin: 20px auto;
    }

    .left-side{
        margin: 0 auto;
        padding-left: 80px;
    }
}

@media (max-width: 640px){
    
    header{
        height: 13vh;
    }

    .hero{
        height: 87vh;
    }

    nav ul{
        gap: 10px;
    }
    
    .hero .container{
        gap: 15px;
        flex-direction: column;
    }
    
    .about{
        display: flex;
        flex-direction: column;
        padding: 30px 0;
    }

    .about-description{
        padding: 20px;
    }

    .about-picture img{
        width: 70vw;
    }

    .teams-logos{
        grid-template-columns: repeat(5, 1fr);
    }

    .teams-logos .team{
        max-width: 60px;
    }

    .products-grid{
        grid-template-columns: 1fr;
    }

    .product p{
        font-size: 14px;
    }

    .container .left-side{
        display: none;
    }

    footer .container{
        gap: 40px;
    }

    footer p{
        font-size: 10px;
    }

}
